* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root{
  width: 100%;
  height: 100vh;
}

body, html {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #1B4965;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.header-container {
  background-color: #aaf1f0;
  width: 100%;
  color: white;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.walmart-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.search-bar {
  padding: 0.5%;
  padding-left: 1%;
  border-radius: 20px;
  border: none;
  width: 50%;
}

.button-group {
  display: flex;
  width: 30%;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: white;
  color: #1B4965;
  padding: 0.5% 8%;
  border: 1px solid #62B6CB;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #62B6CB;
  color: white;
}

.profile-button {
  border-radius: 50%;
  padding: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 870px) {
  .header-container {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar {
    width: 100%;
  }

  .button-group {
    width: 100%;
    justify-content: space-around;
  }

  button {
    font-size: 80%;
    padding: 2% 2%;
  }
}

.sec-container {
  display: flex;
  justify-content: space-around;
  padding: 2% 2%;
  flex-wrap: wrap; /* Ensure content wraps within screen width */
}

@media (max-width: 500px) {
  .sec-container {
    justify-content: space-between; /* Distribute space evenly */
    padding: 3% 3%; /* Increase padding to 3% */
  }

  .sec-container > * {
    margin-bottom: 3%; /* Ensure vertical spacing between wrapped elements */
  }
}

.main-nav {
  margin-top: 5px;
}

.circle-button {
  width: 5vw;
  height: 4vh;
  color: #000000;
  font-size: 18%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
  gap: 20px;
  padding: 10px;
  background-color: #FFFFFF;
}

.box {
  background-color: #BEE9E8;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s;
  margin: 10%;
}

.box img {
  width: 100%;
  border-radius: 10px;
}

.box:hover {
  transform: scale(1.05);
}

.row {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.tag {
  background-color: #62B6CB;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 12px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}


.footer {
  
  background-color: #62B6CB;
  color: white;
  text-align: center;
  padding: 15px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

/* Dropdown Styling */
.dropdown {
  position: relative;
}

.dropdown-button {
  background-color: white;
  color: #1B4965;
  padding: 8px 15px;
  border: 1px solid #62B6CB;
  border-radius: 20px;
  font-size: 90%;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
}

.dropdown-button:hover {
  background-color: #62B6CB;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #CAE9FF;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
}

.dropdown-content a {
  color: #1B4965;
  padding: 8px 15px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: #62B6CB;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}












/* loader css */

/* From Uiverse.io by Nawsome */ 

.pl{
  margin: 40px auto;
}

.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}

/* Animations */
@keyframes ringA {
  from, 4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%, 54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%, to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from, 12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%, 62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%, to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%, 58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from, 8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%, 50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}